<!DOCTYPE html>   
<html lang="en">   
<head>   
<meta charset="utf-8">   
<title>Teacher Ratings</title>   
<meta name="description" content="Twitter Bootstrap Basic Tab Based Navigation Example">  
<link href="http://bootswatch.com/readable/bootstrap.min.css" rel="stylesheet">   
<link href="/static/css/base.css" rel="stylesheet">  

 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

 <script>
	$(function() {
	var availableTags = [
	{% for school in schools %}
	"{{ school.name }}",
	{% endfor %}
	];
	$( "#schools" ).autocomplete({
	source: availableTags
	});
	});
</script>

<script>
function parseForm() {
    var email = document.getElementById('email').value;
    if (isEmail(email))
        alert("Thank you!");
    else {
        alert('Invalid Email Address');
    }
}

function isEmail(email){
        return /^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*$/.test( email );
}

</script>

</head>  
<body>  
<div class="container">
	<div class="row">
	    	<div class="header">
	        	<img src="img/logo.png">
	    	</div>
  	   	 
	</div>
   
	<div class="row">   	
		<div class="span10 offset1 explanation">
		Measuring teacher quality is complicated. It is not only important to consider student
    	performance, but also the context in which teachers are operating. The site below provides
    	New York City teacher rankings along with additional context to better understand the rankings
    	in the context of the environment.
		</div>
	</div>

	<div class="row">
		<div class="choose-grade">
			<h3>Click a Grade</h3>
		</div>
	</div>
	
	<div class="row">
	    	<div class="grades">
	     	<button class="btn btn-success grade-button" type="button">Grade 4</button>
	     	<button class="btn btn-success grade-button" type="button">Grade 5</button>
	     	<button class="btn btn-success grade-button" type="button">Grade 6</button>
	     	<button class="btn btn-success grade-button" type="button">Grade 7</button>
	     	<button class="btn btn-success grade-button" type="button">Grade 8</button>   
		</div>
	</div>
	
	<div class="row">
    		<div class="enter-school">
       			<form name"schoolselect" action="">
               			<input id="schools" type="text" value="Enter a School Name" class="span3" onfocus="if(this.value == 'Enter a School Name') { this.value = ''; }"><br>
               			<input type="submit" class="btn btn-success sub-button" value="Find My School">
       			</form>
     		 </div>
	</div>

	<div class="row">
   		<div class="span6">
       			<div class="grade-wrap"><p class="school-name">{{ school.name }}</p></div>
	    		<div class="span6 choose-a-teacher"> Choose a Teacher</div>
		</div>

	<div class="row">
   		<div class="span6">
       			<div class="grade-wrap">
		            	<p class="school-name">{{ school.name }} </p>
		            	<p class="overall-grade">Overall Grade  </p>
		            	<p class="b">B</p>   
        		</div>
   		</div>

   		<div class="span6">
            		<div class="teacher-wrap">
	                	<p class="choose-a-teacher"> Choose a Teacher </p>
	                       	<ul class="teacher-list">
	                          {% for teacher in teachers %}
	                          {% if teacher.teacher_id %}
	                          <li><a href="/home/{{ dbn }}/{{ teacher.teacher_id }}">{{ teacher.name }}</a> </li>
	                          {% endif %}
	                          {% endfor %}
	                    	</ul>
            		</div>
   		</div>

  	</div>
	<div class="row">
	    	<div class="span6 graduation-rate">Graduation Rate</div>
		<div class="span6 teacher-data">{{ teacher.name }}</div>
	</div>		
</div>

<div class="container">
    	<div class="row">
        	<div class="span6 header">
           	 
            	<h4>In the News</h4>
                {% for link in links %}
                <div class="row news">
                    <div class="span5">
                        <h5><a href="{{link.url}}">{{links.title}}</a></h5>
                    </div>
                </div>
                
                <div class="row news">
                    <div class="span1">
                        <img src="{{link.thumbnail_url}}" class="img-polaroid" width="90" height="90">                       
                    </div>
                    <div class="span4 news-desc">
                    {{link.description}}
                    </div>
                </div>
                {% endfor %}
           	 
        	</div>
        	
        	<div class="span6 header action">
                <h4>Get Involved</h4>
                <p>Write to your local Congressman.</p>
                <p>Sign up to receive updates.</p>
                <form name="signup" class="form-inline" action="">
                    <input id="email" name="email" type="text" placeholder="Enter email"> <button class="btn btn-success" onclick="parseForm()">Sign Up!</button>
                </form>
            	</div>
    	</div>
</div>

<div class="row">
    	<div class="span12">
        	footer
    	</div>
	</div>



</body>  
</html>   
